torch --index-url https://download.pytorch.org/whl/cu124
torchvision --index-url https://download.pytorch.org/whl/cu124
git+https://github.com/huggingface/transformers.git
accelerate
qwen-vl-utils==0.0.14
opencv-python
matplotlib
shapely
lap
kagglehub
ultralytics
ipykernel
ipywidgets
